<%- include('partials/header') %>
<main>
    <section class="product-detail-page">
        <div class="product-detail-page__gallery">
            <div class="product-detail-page__main-image">
                <img id="main-image" src="<%= product.img %>" alt="<%= product.name %>" data-gallery="true">
            </div>
            <div class="product-detail-page__thumbnails">
                <img src="<%= product.img %>" alt="<%= product.name %> Thumbnail 1" data-full="<%= product.img %>" class="product-detail-page__thumbnail product-detail-page__thumbnail--active">
                <img src="https://picsum.photos/id/<%= product.id + 1 %>/300/533" alt="<%= product.name %> Thumbnail 2" data-full="https://picsum.photos/id/<%= product.id + 1 %>/300/533" class="product-detail-page__thumbnail">
                <img src="https://picsum.photos/id/<%= product.id + 2 %>/300/533" alt="<%= product.name %> Thumbnail 3" data-full="https://picsum.photos/id/<%= product.id + 2 %>/300/533" class="product-detail-page__thumbnail">
            </div>
        </div>
        <div class="product-detail-page__info">
            <h1 class="product-detail-page__title"><%= product.name %></h1>
            <p class="product-detail-page__price">$<%= product.price.toFixed(2) %></p>
            <div class="product-detail-page__attributes">
                <p><span>Color:</span> <%= product.color %></p>
                <p><span>Fabric:</span> <%= product.fabric %></p>
            </div>
            <p class="product-detail-page__description"><%= product.description %></p>
            <a href="/products" class="btn product-detail-page__btn">Back to Collection</a>
        </div>
    </section>
</main>
<%- include('partials/footer') %>