<%- include('partials/header') %>
<main>
    <section class="orders-section">
        <h1>Order List</h1>
        <div class="order-list">
            <% if (orders.length === 0) { %>
                <p>No orders submitted yet.</p>
            <% } else { %>
                <table>
                    <thead>
                        <tr>
                            <th>Order Date</th>
                            <th>Full Name</th>
                            <th>Delivery Date</th>
                            <th>Unit</th>
                            <th>Blouse Details</th>
                            <th>Lehenga Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order.orderDate %></td>
                                <td><%= order.fullName %></td>
                                <td><%= order.deliveryDate %></td>
                                <td><%= order.unit %></td>
                                <td>
                                    Length: <%= order.blouseLength %><br>
                                    Chest: <%= order.chest %><br>
                                    Waist: <%= order.waist %><br>
                                    Front Neck: <%= order.frontNeck %><br>
                                    Back Neck: <%= order.backNeck %><br>
                                    Shoulder: <%= order.shoulder %><br>
                                    Sleeves Length: <%= order.sleevesLength %><br>
                                    Sleeves Round: <%= order.sleevesRound %><br>
                                    Arm Hole: <%= order.armHole %>
                                </td>
                                <td>
                                    Length: <%= order.lehengaLength %><br>
                                    Waist: <%= order.lehengaWaist %>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            <% } %>
        </div>
        <a href="/form" class="btn">Back to Form</a>
    </section>
</main>
<%- include('partials/footer') %>